
extends layout.pug
block ListeA
	button.btn.btn-primary(onclick="window.location.href='/enclos'",personList.id ) Retour
block ListeB 
	h1= 	" Liste singe "
				
	ul.list-group     
		each user in personList.Singes
		
			li.list-group-item
					a(href='/singes/'+user.id) #{user.username}
	

block creationContent
	form(method='POST' action='/enclos/'+ personList.id +'/singes')
		div.form-group
			label(for='username') Name:
			input#username.form-control(type='text', placeholder='' name='username')
		div.form-group
			label(for='race') race:
			input#race.form-control(type='text', placeholder='' name='race')
		div.form-group
			label(for='age') age:
			input#age.form-control(type='text', placeholder='' name='age')
		button.btn.btn-primary(type='submit') Create Singe
	//a(class='button' href="/enclos") Retour
	
block detail 
		h1 Enclos ,    #{personList.name}
		article 
			h3 Nbre de singe dans l'enclos:  #{personList.NbreSinge}
			h3 Contenance Max de l'enclos:  #{personList.ContenanceMax}
			br
			button.btn.btn-primary(onclick="window.location.href='/enclos/" + + personList.id + "/singes'") Creer Singe
			br
			br
			form( method="POST" , action="/enclos/" + personList.id + "?_method=DELETE ")
				button.btn.btn-primary() Suprimer Enclos